# Stack main augmenté pour WiFi + BLE
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

# NimBLE standard (pas d'advertising étendu)
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_EXT_ADV=n

# Stack NimBLE host
CONFIG_BT_NIMBLE_HOST_TASK_STACK_SIZE=5120
